Albert Cardona <acardona@ini.phys.ethz.ch> <albert@mini.(none)>
Jacques Pecreaux <jacques.pecreaux@googlemail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Johannes Schindelin <johannes.schindelin@gmx.de> <dscho@users.noreply.github.com>
Jonathan Hale <Squareys@googlemail.com>
Sumit Dubey <sumitdubey54@gmail.com>
Yili Zhao <panovr@gmail.com>
